Hare Krsna! Dandavat Pranams!<br /><br />

{{if(1.repeated; ; "
Thank you for your interest in Srila Gurudeva's Audio Seva. Welcome to the team!<br /><br />

Please find the <strong>guidelines</strong> explaining the entire process of listening and noting details here - <a href=""http://purebhakti.info/audioseva/guidelines"">http://purebhakti.info/audioseva/guidelines</a>. We request you to spend 10 minutes reading through this carefully before starting the service.<br /><br />
")}}

{{if(1.repeated; "
Please take the following audio files next"; "
The following lectures comprise the current set allotted to you")}}:

<ul>{{40.text}}</ul>

{{if(1.comment; escapeHTML(1.comment) + "<br><br>")}}

{{if(1.repeated; ; "
You may either listen to the lecture online or download it to listen to it offline.<br />
<br />")}}
Although we have assigned you lectures keeping in mind your preferred language, sometimes the languages are mixed up in the archive. If the lectures allotted here are not in your preferred language, please write to us and we will allot other lectures to you.<br />
<br />
<strong>The online submission form, pre-populated with the audio file name, your name and email address is available in the link 'Submit using Online Submission Form' above, next to each lecture. For each new lecture, please use the Online Submission Form corresponding to that lecture from the link provided above. This is the preferred mode of submission.</strong><br />
<br />
{{if(1.repeated; "
Useful links
<ol>
<li>Guidelines - http://purebhakti.info/audioseva/guidelines.</li>
</ol>
"; "
Please listen to the lectures and fill up the Online Submission Form as per <a href=""http://purebhakti.info/audioseva/guidelines"">the guidelines</a> and send it to us. After receiving our feedback, you can send us the final version and then we will allot you the next set of lectures.<br />
<br />")}}
Please feel free to clarify any doubts with us.<br />
<br />
Join us on Facebook - https://www.facebook.com/audiosevateam/<br />
<br />
Thank you!<br />
<br />
--<br />
Your Servants,<br />
Pure Bhakti Audio Seva Team.<br />
