<p>Hare Krsna! Dandavat Pranams!</p>
<p>Please take the following audio files next:</p>

<ul>
{% for file in params.files %}
  <li>
    <strong>{{file.filename}}</strong>
    &#8194;
    <a href="http://purebhakti.info/audioseva/listen/{{file.filename|urlencode}}">Listen</a>
    &#8194;|&#8194;
    <a href="http://purebhakti.info/audioseva/online-submission?tape_number={{file.filename|urlencode}}&name={{params.devotee.name|urlencode}}&email_address={{params.devotee.emailAddress|urlencode}}&direct_input=no">Submit using Online Submission Form</a>
  </li>
{% endfor %}
</ul>

<p>{{params.comment}}</p>

<p><strong>Please submit the details using the online submission form, which is pre-populated with the audio file name, your name and email address. It is available in the link ‘Submit using Online Submission Form’ above, next to each lecture. For each new lecture, please use the Online Submission Form corresponding to that lecture from the link provided above.</strong></p>
<p><a href="http://purebhakti.info/audioseva/sites/default/files/guidelines/Audio%20Seva%20-%20SAMPLE%20SUBMISSION%20FORMS.pdf">Click here to see some sample submissions</a>.</p>
<p>If you are unable to play or download any of the allotted lectures, please click the yellow box at the beginning of the Online Submission Form for that lecture, tick the checkbox and describe the issue. We will soon attend to the problem and update you once the audio is corrected.</p>
<p>If any of the allotted lectures are not in your preferred language, please click the blue box at the beginning of the Online Submission Form for that lecture and indicate which language the allotted lecture is in. We will then allot you new lectures.</p>
<p>You can refer the guidelines here - http://purebhakti.info/audioseva/guidelines.</p>

<p>Please feel free to clarify any doubts with us.</p>
<p>Join us on Facebook - https://www.facebook.com/audiosevateam/</p>
<p>Thank you!</p>
<p>--<br />
Your Servants,<br />
Pure Bhakti Audio Seva Team.
</p>