<p>All Glories to Sri Sri Guru and Gauranga!</p>

<p>Hare Krsna! Dandavat Pranams!</p>
 
<p>Thank you very much for your recent donation of {{donation.sum.currency}}{{donation.sum.amount}} in cash towards the Audio Restoration Project, for preserving Srila Gurudeva’s divine words.</p>
 
<p>You can follow the LIVE progress of this seva simply by visiting out website - <a href="http://www.audioseva.com/">www.audioseva.com</a>. Here you will find the number of lectures content reported, audio restored, and more. You can also  <a href="https://www.audioseva.com/restoration-videos">Click here to see a sample</a> of the kind of restorations we are doing with Srila Gurudeva’s audios. </p>
 
<p>As per our recent estimates, we need to complete 20 lectures every single day till December 2020 to make it in time for the centennial! This is extremely ambitious and the success of this initiative depends vastly on the increased involvement of Srila Gurudeva’s worldwide family. 
<span style="color: #c00000;font-weight: bold">So please spread the word as much as you can, you never know who you might inspire.</span></p>

<p>Thank you again for your support of this monumental project! Please don’t hesitate to contact us if you have any questions or would like to know more.</p>
 

<p>Your Servants,<br />
Madhavi Dasi & Lavang Manjari Dasi<br />
On behalf of Srila Gurudeva’s Audio Seva Team</p>
 

<p style="color: #0b5394">
<span style="font-weight: bold;">JOIN THE RESCUE MISSION!</span><br />
Serve directly. Donate. Spread the word. Help any which way you can.<br />
<span style="font-weight: bold;">Donate</span> - <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=858DRHVBFA9JL&source=url">PayPal</a><br />
<a href="https://www.audioseva.com/register">Register for seva</a><br />
<a href="https://www.facebook.com/audiosevateam/">Join us on FB</a><br />
For regular updates on WhatsApp, <a href="https://chat.whatsapp.com/GwrbQcZpJg4FQEbggDSc1J">join our WhatsApp group</a><br />
WhatApp: +91-817131 6662<br />
Email: audioseva.contact@purebhakti.info<br />
Website: <a href="https://www.youtube.com/redirect?event=video_description&v=RxfjWZ9vjZE&q=https%3A%2F%2Fwww.audioseva.com&redir_token=Acxb1zw04ToVLridffwq0M3bshB8MTU0OTcyMjgxMkAxNTQ5NjM2NDEy">https://www.audioseva.com</a>
</p>