<div style="color:red; font-weight:bold;">
{{if(1.not_preferred_language; "The lecture is not in devotee's preferred language!<br><br>")}}
{{if(1.unable_to_play_or_download; "Unable to play or download the audio! Description: " + 1.comments + "<br><br>")}}
{{if(1.changed != 1.completed; "This is an updated submission!<br><br>")}}
{{if(23.rowId; if(23.columnemail != 1.email_address; "
File is allotted to another email id - " + 23.columnemail + "!<br><br>") + if(23.columnstatus != "Given" & 23.columnstatus != "WIP"; "
Status of the file is - " + ifempty(23.columnstatus; "Spare") + "<br><br>"); "Audio File Name “" + 1.audio_file_name + "” is not found in the Backend!<br><br>")}}
{{if(indexOf(19.text; "Given"; indexOf(19.text; "Given") + 1) = -1; "It's time to allot!<br><br>")}}
</div>
<b>Current set:</b><br>
<div style="font-family: Courier">
{{19.text}}
</div>
<a href="https://audio-seva.firebaseapp.com/sqr/allot?emailaddress={{encodeURL(1.email_address)}}">Allot the next set</a><br>
<br>
Please update your previous submission using this update link: http://purebhakti.info/audioseva/form/sound-quality-report?token={{1.token}}.<br>Please note — do not make a new submission using this link. For a new submission, use the link in the allotment email.<br>
<h2>SQR #{{1.serial}}</h2>
<p><b>A. Audio File Name:</b> {{1.audio_file_name}}</p>
<p><b>B. Unwanted parts to be cut:</b><br>
{{replace(33.text; newline; "<br>")}}
</p>
<p><b>C. Sound Issues:</b><br>
{{replace(31.text; newline; "<br>")}}
</p>
<p><b>D. Sound Quality Rating:</b> {{1.sound_quality_rating}}</p>
<br>
<p><b>E. Total Duration of the Recording:</b> {{1.beginning}}–{{1.ending}}</p>
<br>
<p><b>F. Comments:</b> {{replace(1.comments; newline; "<br>")}}</p>
<br>
<p><b>G. Filled By:</b> {{1.name}}, {{1.email_address}}</p>
