<body>
  <div style="color:red; font-weight:bold;">
    {% for warning in params.warnings %}
    <p>{{ warning }}</p>
    {% endfor %}
  </div>
  <p>Current set:</p>
  <ul style="font-family: Courier,serif">
    {% for allotment in params.currentSet %}
    <li>
      {{ allotment.fileName }}
      {{ allotment.dateGiven }}
      {{ allotment.status }}
      {{ allotment.daysPassed }},
      {{ allotment.languages | join: ", " }}
      {% if allotment.fileName == params.submission.fileName %}
      <strong> -- CURRENT SUBMISSION</strong>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <p><a href="{{ params.allotmentUrl }}">Allot the next set</a></p>
  <p>
    Please update your previous submission using this update link:
    <a href="{{ params.updateUrl }}">{{ params.updateUrl }}</a
    >.<br />Please note &#8212; do not make a new submission using this link.
    For a new submission, use the link in the allotment email.<br />
  </p>
  <p><b>A. Audio File Name:</b> {{ params.submission.fileName }}</p>
  <p><b>B. Unwanted parts to be cut:</b></p>
  <ul>
    {% for unwantedPart in params.submission.unwantedParts %}
    <li>
      {{ unwantedPart.beginning }}–{{ unwantedPart.ending }}:
      {{ unwantedPart.type }} — {{ unwantedPart.description }}
    </li>
    {% endfor %}
  </ul>
  <p><b>C. Sound Issues:</b></p>
  <ul>
    {% for soundIssue in params.submission.soundIssues %}
    <li>
      {{ soundIssue.beginning }}–{{ soundIssue.ending }}:
      {{ soundIssue.type }} — {{ soundIssue.description }}
    </li>
    {% endfor %}
  </ul>
  <p>
    <b>D. Sound Quality Rating:</b> {{ params.submission.soundQualityRating }}
  </p>
  <p>
    <b>E. Total Duration of the Recording:</b>
    {{ params.submission.duration.beginning }}–
    {{ params.submission.duration.ending }}
  </p>
  <p><b>F. Comments:</b> {{ params.submission.comments }}</p>
  <p>
    <b>G. Filled By:</b> {{ params.submission.author.name }},
    {{ params.submission.author.emailAddress }}
  </p>
</body>
