Hare Krsna! Dandavat Pranams!<br /><br />

<p>Thank you for your interest in the Track Editing Service. Please read through the Track Editor guidelines here - http://purebhakti.info/audioseva/sound-editing/guidelines</p>
<p>The following lectures comprise the current set allotted to you:</p>
<table frame="border" cellspacing="4" cellpadding="2" width="100%" rules="all" style="border-collapse:collapse;">    <thead align="left">      <tr>        <th scope="col">Output File Name</th>        <th>Action</th>        <th>Task Definition</th>        <th>Source File Links</th>        <th>Submission</th>      </tr>    </thead>    <tbody valign="top">
{{40.text}}</tbody>
</table>
<br>
<strong style="color:red">Please upload the edited files to the Google Drive here - https://drive.google.com/drive/u/0/folders/{{1.trackEditor.uploadsFolderId}}</strong><br>
<br>
{{if(1.comment; escapeHTML(1.comment) + "<br><br>")}}

<strong>Please submit the details using the online submission form, which is pre-populated with the Output File Name, your name and email address. It is available in the link ‘Submit using Online Submission Form’ above, next to each task. For each new task, please use the Online Submission Form corresponding to that task from the link provided above.</strong><br />
<br />
Please feel free to clarify any doubts with us.<br />
<br />
Join us on Facebook - https://www.facebook.com/audiosevateam/<br />
<br />
Thank you!<br />
<br />
--<br />
Your Servants,<br />
Pure Bhakti Audio Seva Team.<br />