<body>
  <p>TE form submitted.</p>

  <div style="color:red; font-weight:bold;">
    {% for warning in params.warnings %}
    <p>{{ warning }}</p>
    {% endfor %}
  </div>

  <p><b>Track Edited File Link:</b> {{ task.uploadURL }}</p>

  <p style="color: red;font-weight: bold">DETAILS OF THE TASK:</p>

  <p><b>Task ID:</b> {{ task.id }}</p>
  <p>
    <b>Task Definition:</b><br />
    {% for chunk in task.chunks %}
    <a href="{{ chunk.sourceFileLink }}">{{ chunk.fileName }}</a
    >&nbsp;{{ chunk.beginning }}&ndash;{{ chunk.ending }}<br />
    {% endfor %}
  </p>
  <p><b>TE Name:</b> {{ task.assignee.name }}</p>
</body>
