<p>Hare Krsna! Dandavat Pranams.</p>
<p>Below are the details of your <b>Track Editing Fidelity Check (TFC)</b> task. You can refer the TFC guidelines here -
  http://purebhakti.info/audioseva/sound-editing/guidelines.
</p>

<p>Firstly, please download the Edited and Source files from the links below:</p>
<p><b>Track Edited File Link:</b> {{16.columneditedfilelink}}</p>
<p><b>Source File Links:</b><br>{{16.columnsourcefile1link}}<br>{{16.columnsourcefile2link}}<br>{{16.columnsourcefile3link}}</p>
<p><b>Please provide your feedback for this task by filling this form:</b> <a href="http://purebhakti.info/audioseva/form/track-editing-fidelity-check?task_id={{encodeURL(16.columntaskid)}}&name={{encodeURL(1.fc.name)}}&email_address={{encodeURL(1.fc.emailAddress)}}">Track
  Editing Fidelity Check Submission Form</a></p>

<p>Please refer the details of the task for the TE as well as the TE inputs below.</p>

<p style="color: red;font-weight: bold">DETAILS OF THE TASK:</p>

<p><b>Task ID:</b> {{16.columntaskid}}</p>
<p><b>Action:</b> {{16.columnaction}}</p>
<p><b>Task Definition:</b><br>{{replace(16.columntaskdefinition; newline; "<br>")}}</p>

<p style="color: red;font-weight: bold">TE INPUTS:</p>

<p><b>Sound Quality Rating:</b> {{16.columnsoundqualityrating}}</p>
<p><b>Sound Issues:</b><br>{{replace(16.columncommentsforse; newline; "<br>"}}</p>
<p><b>TE Comments:</b> {{16.columntecomments}}</p>
<p><b>Total Duration of Edited File:</b> {{16.columntotaldurationofeditedfile}}</p>
<p><b>TE Name:</b> {{16.columntename}}</p>

<p>Please feel free to ask any queries at any point.</p>
<p>
  --<br> Your Servants,<br> Pure Bhakti Audio Seva Team.
</p>

