<body>
  <p>Hare Krsna! Dandavat Pranams!</p>
  <p>
    Thank you for your interest in the&nbsp;Track Editing&nbsp;service. Please
    read through
    <a
      href="https://docs.google.com/document/d/e/2PACX-1vT8C-A4sImsH2GkAWDYqGT8jDn2cUvXKqr1AfSAoFhKJPuSOjL1Z33u0QkzL2m6bpZXXUimG4co4Bdr/pub"
      >the&nbsp;Track&nbsp;Editor&nbsp;Guidelines&nbsp;here</a
    >.
  </p>
  <p>The following tasks comprise the current set allotted to you:</p>
  <table
    frame="border"
    cellspacing="4"
    cellpadding="2"
    width="100%"
    rules="all"
    style="border-collapse:collapse;"
  >
    <thead align="left">
      <tr>
        <th scope="col">Output File Name</th>
        <th>Input File Name</th>
        <th>Timing</th>
        <th>Unwanted Parts</th>
      </tr>
    </thead>
    <tbody valign="top">
      {% for task in params.tasks %} {% for chunk in task.chunks %}
      <tr>
        {% if forloop.First %}
        <td rowspan="{{ task.chunks | length }}">{{ task.id }}</td>
        {% endif %}
        <td>
          <a
            href="https://storage.googleapis.com/original.{{
              params.settings.project.domain
            }}/{{ chunk.fileName }}"
            >{{ chunk.fileName }}</a
          >
        </td>
        <td>{{ chunk.beginning }}&ndash;{{ chunk.ending }}</td>
        <td>
          <ul>
            {% for part in chunk.unwantedParts %}
            <li>
              {{ part.beginning }}&ndash;{{ part.ending }}, {{ part.type }},
              {{ part.description }}
            </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endfor %} {% endfor %}
    </tbody>
  </table>

  <p>{{ params.comment }}</p>

  <p style="color:red; font-weight:bold;">
    Please upload the edited files
    <a href="https://app.{{ params.settings.project.domain }}/te/upload">here</a
    >. You will need to sign in with your Google account.
  </p>
  <p>Please feel free to clarify any doubts with us.</p>
  <p>Thank you!</p>
  <p>
    --<br />
    Your Servants,<br />
    Pure Bhakti Audio Seva Team.
  </p>
</body>
