<body>
  <p>Hare Krsna! Dandavat Pranams!</p>
  <p>
    Thank you for your interest in the&nbsp;Track Editing&nbsp;service. Please
    read through
    <a href="https://www.audioseva.com/track-editing"
      >the&nbsp;Track&nbsp;Editor&nbsp;guidelines&nbsp;here</a
    >.
  </p>
  <p>The following lectures comprise the current set allotted to you:</p>
  <table
    frame="border"
    cellspacing="4"
    cellpadding="2"
    width="100%"
    rules="all"
    style="border-collapse:collapse;"
  >
    <thead align="left">
      <tr>
        <th scope="col">Output File Name</th>
        <th>Task Definition</th>
        <th>Unwanted Parts</th>
      </tr>
    </thead>
    <tbody valign="top">
      {% for task in params.tasks %}
      <tr>
        <td>{{ task.fileName }}</td>
        <td>
          {% for chunk in task.chunks %}
          <a href="{{ chunk.sourceFileLink }}">{{ chunk.fileName }}</a
          >&nbsp;{{ chunk.beginning }}&ndash;{{ chunk.ending }}<br />
          {% endfor %}
        </td>
        <td>
          {% for chunk in task.chunks %}
          <b>{{ chunk.fileName }}</b>
          <ul>
            {% for part in chunk.unwantedParts %}
            <li>
              {{ part.beginning }}&ndash;{{ part.ending }}:&nbsp;{{
                part.type
              }}&nbsp;&mdash;&nbsp;{{ part.description }}
            </li>
            {% endfor %}
          </ul>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>{{ params.comment }}</p>

  <p style="color:red; font-weight:bold;">
    Please upload the edited files
    <a href="{{ params.uploadURL }}">here</a>. You will need to sign in with
    your Google account.
  </p>
  <p>Please feel free to clarify any doubts with us.</p>
  <p>Join us on Facebook - https://www.facebook.com/audiosevateam/</p>
  <p>Thank you!</p>
  <p>
    --<br />
    Your Servants,<br />
    Pure Bhakti Audio Seva Team.
  </p>
</body>
