<body>
  <div style="color:red; font-weight:bold;">
    {% for warning in params.warnings %}
    <p>{{ warning }}</p>
    {% endfor %}
  </div>

  <p><b>Track Edited File Link:</b> {{ task.uploadURL }}</p>
  <p>
    <a
      href="https://app.{{ params.settings.project.domain }}/te/tasks/{{
        task.id
      }}"
    >
      Review
    </a>
  </p>

  <p style="color: red;font-weight: bold">DETAILS OF THE TASK:</p>

  <p><b>Task ID:</b> {{ task.id }}</p>
  <p><b>Task Definition:</b></p>
  <ol>
    {% for chunk in task.chunks %}
    <li>
      <a
        href="https://storage.googleapis.com/original.{{
          params.settings.project.domain
        }}/{{ chunk.fileName }}"
        >{{ chunk.fileName }}</a
      >&nbsp;{{ chunk.beginning }}&ndash;{{ chunk.ending }}
      <ul>
        {% for unwantedPart in chunk.unwantedParts %}
        <li>
          {{ unwantedPart.beginning }}&ndash;{{ unwantedPart.ending }},
          {{ unwantedPart.type }}, {{ unwantedPart.description }}
        </li>
      </ul>
    </li>
    {% endfor %}
  </ol>
</body>
