service firebase.storage {
  match /b/{bucket}/o {
    match /restored/{uploadCode}/{file=**} {
      allow write: if request.resource.contentType.matches('audio/flac') &&
        request.resource.name.matches('[\\w/]+/[\\w]+-\\d+-\\d+\\.flac');
      allow read;
    }

    match /{uid}/{timestamp}/{file=**} {
        allow write: if request.auth.uid == uid;
    }
  }
}
