span.name {
  font-weight: bold;
  display: block;
  float: left;
}

span.location {
  color: gray;
  display: block;
  float: right;
}

span.emailaddress {
  color: gray;
  display: block;
  clear: left;
}

.selectize-dropdown [data-selectable] {
  border-bottom: 1px gray;
}

.loader {
    border: 8pt solid #f3f3f3; /* Light grey */
    border-top: 8pt solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60pt;
    height: 60pt;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
