service firebase.storage {
  match /b/{bucket}/o {
    match /{uid}/{time}/{fileName} {
      allow read;
      allow write: if fileName.matches('\\w+-\\d+-\\d+\\.flac')
        && resource == null
        && request.resource.contentType == 'audio/flac'
        && request.resource.size <= 100 * 1024 * 1024
        && request.auth.uid == uid
        && (request.auth.token.TE || request.auth.token.coordinator)
        ;
    }
  }
}
