include ../../mixins
p All Glories to Sri Sri Guru and Gauranga!
+dandavat
p
  | Thank you very much for your recent donation of
  | #{ donation.sum.currency }#{ donation.sum.amount } in cash
  | towards the Audio Restoration Project, for preserving
  | Srila Gurudeva&rsquo;s divine words.
p
  | This project has evolved to be far more complex than we estimated,
  | especially due to sorting of duplicates, varying sound qualities and many other facets.
  | Hence it will most likely go on till December 2025 at least.
  | We are happy to report that the daily harikatha send-outs in English and Hindi on
  | Gaudiya Rasamrita social media (WhatsApp, YouTube, Facebook, Telegram, Podcasts)
  | are being much appreciated, with the audience growing daily.
  | You are welcome to #[a(href='https://harikatha.com/join/') join Gaudiya Rasamrita now]
  | if you haven’t yet.
p
  | On Srila Gurudeva’s official archive website, #[a(href='https://harikatha.com') harikatha.com],
  | finalised lectures are being uploaded as and when they are ready.
p
  | Thank you again for your support of this monumental project! Please don&rsquo;t
  | hesitate to contact us if you have any questions or would like to know more.
p
  | Your Servants,
  br
  | Madhavi Dasi &amp; Lavang Manjari Dasi
  br
  | On behalf of Srila Gurudeva&rsquo;s Audio Seva Team
