include ../../mixins
p All Glories to Sri Sri Guru and Gauranga!
+dandavat
p
  | Thank you very much for your recent donation of
  | #{donation.sum.currency}#{donation.sum.amount} in cash
  | towards the Audio Restoration Project, for preserving Srila Gurudeva&rsquo;s divine
  | words.
p
  | You can follow the LIVE progress of this seva simply by visiting our website -
  | #[a(href='https://www.audioseva.com/') www.audioseva.com]. Here you will find
  | the number of lectures content reported, audio restored, and more. You can
  | also #[a(href='https://www.audioseva.com/restoration-videos') click here to see a sample]
  | of the kind of restorations we are doing with Srila Gurudeva&rsquo;s audios.
p
  | This project has evolved to be far more complex than we estimated,
  | especially due to sorting of duplicates, varying sound qualities and many other facets.
  | Hence it will most likely go on till December 2023 at least.
  | We are happy to report that the daily harikatha send-outs in English and Hindi on WhatsApp,
  | YouTube, Facebook, Telegram, Podcasts, etc are being much appreciated, with the audience growing daily.
  | On Srila Gurudeva’s official archive website, #[a(href='https://harikatha.com') harikatha.com],
  | the first set of finalised lectures has been launched to begin with;
  | we will progressively keep updating more and more every month.
p
  | Thank you again for your support of this monumental project! Please don&rsquo;t
  | hesitate to contact us if you have any questions or would like to know more.
p
  | Your Servants,
  br
  | Madhavi Dasi &amp; Lavang Manjari Dasi
  br
  | On behalf of Srila Gurudeva&rsquo;s Audio Seva Team
div(style='color: #0b5394')
  span(style='font-weight: bold;') JOIN THE RESCUE MISSION!
  br
  | Serve directly. Donate. Spread the word. Help any which way you can.
  br
  a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=858DRHVBFA9JL&source=url' style='font-weight: bold;') Donate
  br
  a(href='https://www.audioseva.com/register') Register for seva
  br
  a(href='https://www.facebook.com/audiosevateam/') Join us on FB
  br
  p Get in touch:
    br
    |   WhatApp: #[a(href='https://wa.me/918171316662') +91-817131 6662]
    br
    |   Email: #[a(href='mailto:contact@audioseva.com') contact@audioseva.com]
    br
    |   Website: #[a(href='https://www.audioseva.com') www.audioseva.com]
    br
  p Receive DAILY Harikatha by Srila Gurudeva in English and Hindi, Join:
    br
    | WhatsApp - #[a(href='https://chat.whatsapp.com/H0gcIa2wVe15F3fTBopbuS') Join the group]
    br
    | Telegram - #[a(href='https://t.me/srilagurudevaharikatha') Srila Gurudeva Harikatha Channel]
    br
    | Facebook - #[a(href='https://facebook.com/SrilaGurudevasArchive') Srila Gurudeva's Archive Page]
    br
    | YouTube - #[a(href='https://www.youtube.com/channel/UCc9ms4F-PWpkUDct7OcuqMQ') Gurudeva Lectures Channel]
    br
    | Podcasts on Spotify, Apple, etc (for audios only) - #[a(href='https://anchor.fm/srila-gurudeva-hindi') In Hindi] and #[a(href='https://anchor.fm/srila-gurudeva-english') In English] 
