<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transcription Allotment</title>
    <link rel="stylesheet" href="styles.css" />
    <script type="module" src="main.js"></script>
  </head>

  <body>
    <main class="mx-auto max-w-md">
      <h1 class="my-4 text-center text-3xl font-medium">
        Transcription Allotment
      </h1>
      <div id="app" class="flex flex-col items-center" v-cloak>
        <span v-if="user === undefined">Waiting for auth…</span>
        <template v-else-if="user">
          <span>
            Signed in as {{ user.displayName }} |
            <button class="underline decoration-dotted" @click="signOut">
              Sign Out
            </button>
          </span>
          <button class="underline decoration-dotted" @click="loadAssignees">
            Load Devotees
          </button>
          <span v-if="assignees">Devotees: {{ assignees.length }}</span>
        </template>
        <button v-else class="underline decoration-dotted" @click="signIn">
          Sign In
        </button>
      </div>
    </main>
  </body>
</html>
