.guidelines-option {
  margin-top: 3em;
}
h4 {
  margin-top: 2em;
}
.btn-primary,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  background-image: linear-gradient(#fcd7cf, #f9ae9f 60%, #fcd7cf);
  color: #1b0a01;
  border: none;
}
.btn {
  border-radius: 20px;
}
