include ../../mixins
+dandavat
p
  | The output of the task #[strong= task.id] is not approved.
p(style='text-decoration: underline;') FEEDBACK:
p(style='color: red;font-weight: bold')= resolution.feedback
if resolution.isRechecked
  p Download the TEd file to edit: #[+frontendLink(`/te/tasks/${task.id}/versions/${versionKey}/file`) here].
p See details of the task #[+frontendLink(`/te/tasks/${task.id}`) here].
p Please upload the edited file #[+frontendLink('/te/upload') here].
+signature
